/* contact  */

.icon-set {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon1 i,
.icon2 i,
.icon3 i,
.icon4 i,
.icon5 i {
  font-size: 24px;
  color: black;
}

.icon1:hover {
  background-image: linear-gradient(to bottom right, #0077b5, #000);
}
.icon2:hover {
  background-image: linear-gradient(to bottom right, #333, #000);
}
.icon3:hover {
  background-image: linear-gradient(to bottom right, #405de6, #e1306c);
}
.icon4:hover {
  background-image: linear-gradient(to bottom right, #1877f2, #000);
}
.icon5:hover {
  background-image: linear-gradient(to bottom right, red, #b00);
}

.icon1:hover i,
.icon2:hover i,
.icon3:hover i,
.icon4:hover i,
.icon5:hover i {
  color: white;
}

.heading {
  text-align: center;
  margin-top: 80px;
}

.rights {
  text-align: center;
  padding: 40px 20px;
  margin-top: 50px;
}

.ua {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2d302c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ua:hover {
  color: white;
}

.up-arrow i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5 {
    width: 50px;
    height: 50px;
  }
  .icon1 i,
  .icon2 i,
  .icon3 i,
  .icon4 i,
  .icon5 i {
    font-size: 20px;
  }
  .ua {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
